{% load widget_tweaks %}
{% if period_form.errors %}
  <h3 class="text-error">Пожалуйста, исправьте ошибки</h3>
  <div id="non-field-errors" class="text-error">
  {{ period_form.non_field_errors }}
  </div>
{% endif %}
<form action="." method="get" class="well">
<fieldset>
<table>
{% with f=period_form %}<tr>
    <td style="width: 33.3%">
       {{ f.period_start.label_tag }}{% render_field f.period_start autocomplete="off" class+="input-block-level" accesskey="р" %}
    </td>
    <td style="width: 33.3%">
       {{ f.period_end.label_tag }}{% render_field f.period_end autocomplete="off" class+="input-block-level" accesskey="с" %}
    </td>
    <td >
    {{ f.type_residence.label_tag }}{% render_field f.type_residence class+="input-block-level" %}
    </td>
</tr>
<tr>
    <td class="text-error errorcell">{% if f.period_start.errors %} {{ f.period_start.errors}} {% endif %}</td>
    <td class="text-error errorcell">{% if f.period_end.errors %} {{ f.period_end.errors}} {% endif %}</td>
    <td class="text-error errorcell">{% if f.type_residence.errors %} {{ f.type_residence.errors}} {% endif %}</td>
</tr>{% endwith %}
<tr>
    <td colspan="3" align="right">
        <button type="submit" class="btn btn-primary">Составить отчет</button>
    </td>
</tr>
</table>
</fieldset>
</form><br style="clear: both" />
