{% extends 'analytic/base.html' %}

{% block title %}Отчет количества живых пациентов по возрастам{% endblock %}

{% block content %}
<h4>Отчет количества живых пациентов по возрастам
{% if is_have_result %} с {{ period_start|date:"d.m.Y" }} по
{{ period_end|date:"d.m.Y" }}.{% endif %}</h4>
{% if type_residence %}
<p> (Вид проживания: {{ type_residence }})</p>
{% endif %}

{% include "analytic/form.html" with include_residence=True %}

{% if is_have_result %}
<table class="table table-striped table-bordered">
    <tr>
        <th>Дети</th>
        <th>Взрослые</th>
        <th>Плоды</th>
    </tr>
    <tr>
        <td>{{ children }}</td>
        <td>{{ marriageable }}</td>
        <td>{{ fetus }}</td>
    </tr>
</table>
{% endif %}
{% endblock %}
