import sys

DEBUG = False

ALLOWED_HOSTS=['localhost', 'www.localhost']


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',  # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'geneticist',                      # Or path to database file if using sqlite3.
        # The following settings are not used with sqlite3:
        'USER': 'geneticist',
        'PASSWORD': '87654321',
        'HOST': '192.168.1.1',                      # Empty for localhost through domain sockets or '127.0.0.1' for localhost through TCP.
        'PORT': '',                      # Set to empty string for default.
    }
}


CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.memcached.MemcachedCache',
        'LOCATION': '127.0.0.1:11211'
    }
}

# Add this stuff if you want to use ldap auth
#AD_DNS_NAME = 'example.com'
#AD_NT4_DOMAIN = 'EXAMPLE' # This is the NT4/Samba domain name

if 'test' in sys.argv:
    DATABASES = {
        'default': {
            'ENGINE': 'django.db.backends.sqlite3', 
            'NAME': ':memory:',
        },
    }
