.red {
    color: red;
}
h3.red, i.content_header {
    display: block;
    margin-left: 25px;
}
i.content_header {
    margin: 25px;
}
.list_patient {
    border-collapse: collapse;
    width: 100%;
}
.list_patient td, .list_patient th {
    border: 1px solid #000;
    padding: 10px;
}
@media print {
  a[href]:after {
    content: "";
  }
  abbr[title]:after {
    content: "";
  }
} 
ul.menu {
    display: block;
    margin: 0 auto;
    width: 1100px;
}
ul {
    list-style-type: none;
}
ul.menu>li {
    display: inline-block;
    padding: 0 30px;
}
ul.messages>li{
    display: block;
    padding: 10px;
    margin: 10px;
    background-color: #cfcfcf;
}

.help_text {
    color: #666;
    display: block;
    margin-top: -10px;
    margin-bottom: 5px;
}

#id_full_name {
    width: 500px;
}
.errorlist {
    color: red;
}

#li_patronymic, #li_code_insurance_company,
#li_residence, #li_gender {
    clear: both;
}

#li_first_name, #li_last_name, #li_patronymic,
#li_seria_policy, #li_number_policy, #li_code_insurance_company,
#li_registration, #li_residence,
#li_type, #li_gender {
    display: inline-block;
    width: 300px;
} 

.diagnosis_delete_checkbox * {
    display: inline-block;
    vertical-align: top;
}

.diagnosis_form {
    margin: 10px 20px;;
}

#ul_diagnosis_formset {
    margin: 0 0 20px 20px;
}

#id_diagnosis_comment, #id_comment {
    width: 500px;
}

#visits_list {
    margin-top: 20px;
}
