#content fieldset {padding: 15px;}
#content fieldset table {width: 100%}
#content fieldset td, div.inner {padding: 15px 10px; padding-bottom: 0;}
#content fieldset td.errorcell {padding-top: 0; padding-bottom: 0; margin-top: 0; margin-bottom: 0;}
#content fieldset td input, #content fieldset td textarea, #content fieldset td select  {margin-bottom: 0; }
#content legend {margin: 0 5px; padding: 0;}
#content div.well, div.outer {padding: 15px; width: 600px;}
#content h1, #content h2 {width: 630px; position: relative;}
#content h1 small {position: absolute; right: 0; bottom: 0px;}
  #content div.submit {width: 630px;}
#content i {margin-left: 5px;}
.diagnosis_delete_checkbox label {display: inline;}
.diagnosis_delete_checkbox input {display: inline; margin-top: 0}
#ul_diagnosis_formset {padding: 0; margin: 0;}
#ul_diagnosis_formset>li {list-style: none; padding: 0; margin: 0;}
.diagnosis_form { margin-bottom: 20px;}
.text-error ul {padding: 0; padding-left: 2px; margin: 0; font-size: small;}
.text-error li {list-style: none; display: inline; padding: 0; margin: 0;}
legend a, legend a:hover {cursor: pointer; text-decoration: none; color: #bbb; padding-right: 2px; float: right;}
#non-field-errors {paddin: 0; margin-bottom: 20px;}
