<!DOCTYPE html>
<html>
{% load static from staticfiles %} {% load in_group %}
  <head>
    <title>Генетический реестр пациентов НСО - {% block title %}{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}other/css.css" rel="stylesheet">
    <script type="text/javascript" src="/static/admin/js/jquery.js"></script>
    <script type="text/javascript">
      window.__admin_media_prefix__ = "{{ STATIC_URL }}admin/";
    </script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
    {% block extrajs %} {% endblock %} {% block other_static %}{% endblock %}
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Генетический реестр пациентов НСО</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Дорбо пожаловать, <strong>{{user.first_name}}</strong>.
              <a href="{% url 'logout'%}" class="navbar-link">Выйти</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <ul class="menu">
      <li>{% block search_patient %}<a href="{% url 'patient_search' %}">Режим поиска пациентов</a>{% endblock %}</li>
      <li>{% block add_patient %}<a href="{% url 'patient_add' %}">Режим добавления пациента</a>{% endblock %}</li>
      {% if user|in_group:"lead_geneticist" %}<li><a href="{% url 'admin:patient_patient_changelist' %}" target="_blank">Режим удаления пациентов</a></li>{% endif %}
      {% if user|in_group:"mkb,lead_geneticist" %}<li><a href="{% url 'admin:index' %}"target="_blank">Режим редактирования справочников</a></li>{% endif %}
    </ul>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% block content %}{% endblock %}    
  </body>
</html>
