<!DOCTYPE html>
<html>
{% load static from staticfiles %} {% load in_group %}
  <head>
    <title>Генетический реестр пациентов НСО - {% block title %}{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--link href="{{ STATIC_URL }}other/css.css" rel="stylesheet"-->
    <!--script type="text/javascript" src="/static/admin/js/jquery.js"></script-->
    <script type="text/javascript">
      window.__admin_media_prefix__ = "{{ STATIC_URL }}admin/";
    </script>
    <!--script src="http://code.jquery.com/jquery-latest.js"></script-->
    <script src="{{ STATIC_URL }}jquery/jquery.js"></script>
    <!--script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script-->
    <!--script src="{{ STATIC_URL }}admin/js/jquery.init.js"></script-->
    <style>
     .nav-tabs .disabled a, .nav-tabs .disabled a:hover, .nav-tabs .disabled a:focus {border: none;}
     .alert {width: 580px;}
     .alert p {margin-top: 10px; margin-bottom: 10px;}
    </style>
    {% block extrajs %} {% endblock %} {% block other_static %}{% endblock %}
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Генетический реестр пациентов НСО</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Дорбо пожаловать, <strong>{{user.first_name}}</strong>.
              <a href="{% url 'logout'%}" class="navbar-link">Выйти</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <ul class="nav nav-tabs" style="padding: 0 30px">
      <li{% block search_patient %}{% endblock %}><a href="{% url 'patient_search' %}" accesskey="1">Поиск пациентов</a></li>
      <li{% block add_patient %}{% endblock %}><a href="{% url 'patient_add' %}" accesskey="2">Добавление пациента</a></li>
      <li{% block edit_patient %} class="disabled"{% endblock %}><a href="." onfocus="blur()" onclick="return false;">Просмотр записи</a></li>
    </ul>
    <div id="content" style="padding: 0 20px;">
    {% if messages %}
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {% for message in messages %}
      <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}

    {% block content %}{% endblock %}    
    </div>
  </body>
</html>
