{% extends 'base.html' %}

{% block other_static %}
<script type="text/javascript" src="{{ STATIC_URL }}dinbror-bpopup/jquery.bpopup.js"></script>
{% endblock %}

{% block content %}
<form action='.' method="post">
{% csrf_token %}
<ul>
  <li id="li_first_name">{% if patient_form.first_name.errors %} {{ patient_form.first_name.errors}} {% endif %}
      {{ patient_form.first_name.label_tag }} {{ patient_form.first_name }}</li>
  <li id="li_last_name">{% if patient_form.last_name.errors %} {{ patient_form.first_name.errors}} {% endif %}
      {{ patient_form.last_name.label_tag }} {{ patient_form.last_name }}</li>
  <li id="li_patronymic">{% if patient_form.patronymic.errors %} {{ patient_form.patronymic.errors}} {% endif %}
      {{ patient_form.patronymic.label_tag }} {{ patient_form.patronymic }}</li>
  <li id="li_birthday">{% if patient_form.birthday.errors %} {{ patient_form.birthday.errors}} {% endif %}
      {{ patient_form.birthday.label_tag }} {{ patient_form.birthday }}</li>
  <li id="li_death">{% if patient_form.death.errors %} {{ patient_form.death.errors}} {% endif %}
      {{ patient_form.death.label_tag }} {{ patient_form.death }}</li>
  <li id="li_seria_policy">{% if patient_form.seria_policy.errors %} {{ patient_form.seria_policy.errors}} {% endif %}
      {{ patient_form.seria_policy.label_tag }} {{ patient_form.seria_policy }}</li>
  <li id="li_number_policy">{% if patient_form.number_policy.errors %} {{ patient_form.number_policy.errors}} {% endif %}
      {{ patient_form.number_policy.label_tag }} {{ patient_form.number_policy }}</li>
  <li id="li_code_insurance_company">{% if patient_form.code_insurance_company.errors %} {{ patient_form.code_insurance_company.errors}} {% endif %}
      {{ patient_form.code_insurance_company.label_tag }} {{ patient_form.code_insurance_company }}</li>
  <!-- Нужно сюда прикрепить КЛАДР -->
  <li id="li_registration">{% if patient_form.registration.errors %} {{ patient_form.registration.errors}} {% endif %}
      {{ patient_form.registration.label_tag }} {{ patient_form.registration }}</li>
  <li id="li_residence">{% if patient_form.residence.errors %} {{ patient_form.residence.errors}} {% endif %}
      {{ patient_form.residence.label_tag }} {{ patient_form.residence }}</li>
  <li id="li_code_allocate_lpu">{% if patient_form.code_allocate_lpu.errors %} {{ patient_form.code_allocate_lpu.errors}} {% endif %}
      {{ patient_form.code_allocate_lpu.label_tag }} {{ patient_form.code_allocate_lpu }}</li>
  <li id="li_allocate_lpu">{% if patient_form.allocate_lpu.errors %} {{ patient_form.allocate_lpu.errors}} {% endif %}
      {{ patient_form.allocate_lpu.label_tag }} {{ patient_form.allocate_lpu }}</li>
  <ul id="ul_diagnosis_formset">
    <li><b>Диагноз</b></li>
    {{ diagnosis_formset.as_ul }}
  </ul>
  <li id="li_comment">{% if patient_form.comment.errors %} {{ patient_form.comment.errors}} {% endif %}
      {{ patient_form.comment.label_tag }} {{ patient_form.comment }}</li>
  <li id="li_social_status">{% if patient_form.social_status.errors %} {{ patient_form.social_status.errors}} {% endif %}
      {{ patient_form.social_status.label_tag }} {{ patient_form.social_status }}</li>
  <li id="li_special_cure">{% if patient_form.special_cure.errors %} {{ patient_form.special_cure.errors}} {% endif %}
      {{ patient_form.special_cure.label_tag }} {{ patient_form.special_cure }}</li>
  <li id="li_type">{% if patient_form.type.errors %} {{ patient_form.type.errors}} {% endif %}
      {{ patient_form.type.label_tag }} {{ patient_form.type }}</li>
  <li id="li_gender">{% if patient_form.gender.errors %} {{ patient_form.gender.errors}} {% endif %}
      {{ patient_form.gender.label_tag }} {{ patient_form.gender }}</li>
  <li id="li_date_registration">{% if patient_form.date_registration.errors %} {{ patient_form.date_registration.errors}} {% endif %}
      {{ patient_form.date_registration.label_tag }} {{ patient_form.date_registration }}</li>
  {% for visit in visits_qs %}
    {% if visit.is_add %}
     Первичное посещение 
    {% endif %}
    {{ visit }}
  {% endfor %}
  {{ visit_form.as_ul }}
</ul>
<input type="submit", value="Отправить">
</form>
{% endblock %}
