{% extends 'base.html' %}

{% block other_static %}
<link href="{{ STATIC_URL }}dinbror-bpopup/style.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}dynatree/src/skin-vista/ui.dynatree.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}dynatree/doc/prettify.css" rel="stylesheet" />
<link href="{{ STATIC_URL }}dynatree/doc/sample.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="{{ STATIC_URL }}dinbror-bpopup/jquery.bpopup.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}dinbror-bpopup/jquery.bpopup.js"></script>
<script src="{{ STATIC_URL }}dynatree/jquery/jquery-ui.custom.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}dynatree/jquery/jquery.cookie.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}dynatree/src/jquery.dynatree.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}dynatree/doc/prettify.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}dynatree/doc/sample.js" type="text/javascript"></script>

<script src="{{ STATIC_URL }}other/mkb_init.js" type="text/javascript"></script>
{{ patient_form.media }}
<script>
var REGION_LEVEL = 1;
var DISTRICT_LEVEL = 2;
var CITY_LEVEL = 3;
var VILAGE_LEVEL = 4;
var STREET_LEVEL = 5;
var HOUSE_LEVEL = 6;
var CODE_TO_LEVEL = {0: REGION_LEVEL,
                     2: DISTRICT_LEVEL,
                     5: CITY_LEVEL,
                     8: VILAGE_LEVEL,
                     11: STREET_LEVEL,
                     17: HOUSE_LEVEL}

$(document).ready(function () {
    function create_house(code) {
        $('#id_s_' + HOUSE_LEVEL).prev().nextAll().remove();
        var url = "{% url 'kladr' %}?level=6&code=" + code;
        $.getJSON(url, function(data) {
            var select = $('<select id="id_s_' + HOUSE_LEVEL + '" name="s_' + HOUSE_LEVEL + '" />');
            for (var val in data) {
                $("<option />", {value: data[val], text: val}).appendTo(select);
            }
            select.appendTo('#kladr')//.change(function(data) {callback(this.value)});
        }); 
    }

    function create_district(code) {
        curr_level = CODE_TO_LEVEL[code.length]
        $('#id_s_' + curr_level).prev().nextAll().remove();
        var url = "{% url 'kladr' %}?level=" + curr_level;
        url = url + '&code=' + code;
        $.getJSON(url, function(data) {
            var select = $('<select id="id_s_' + curr_level + '" name="s_' + curr_level + '" />');
            select.appendTo('#kladr')//.change(function(data) {callback(this.value)});
            for (var name_option in data) {
                var opt_group = $('<optgroup />').attr('label', name_option);
                opt_group.appendTo(select);
                for (var val in data[name_option]) {
                    var option_params = {value: data[name_option][val].id,
                                         text: data[name_option][val].value}
                    $("<option />", option_params).appendTo(opt_group);
                }
            }
            select.change(function(data) {select_callback(this.value)})
        });
    }

    function select_callback(code) {
        curr_level = CODE_TO_LEVEL[code.length];
        if (curr_level != HOUSE_LEVEL) {
            return create_district(code);
        } else {
            return create_house(code);
        }
        
    }

    create_district('', create_district);
    //create_select(REGION_LEVEL, create_district, undefined);
});
</script>
{% endblock %}

{% block content %}
<div id="kladr">
</div>
<div id="popup_mkb" class="hide">
  <div id="tree">&nbsp;</div>
  <span class="button b-close"><span>X</span></span>
</div>
<input type="hidden" id="e5" style="width:300px"/>
<form action='.' method="post">
{% csrf_token %}
{{ diagnosis_formset.management_form }}
<ul>
  <li id="li_first_name">{% if patient_form.first_name.errors %} {{ patient_form.first_name.errors}} {% endif %}
      {{ patient_form.first_name.label_tag }} {{ patient_form.first_name }}</li>
  <li id="li_last_name">{% if patient_form.last_name.errors %} {{ patient_form.first_name.errors}} {% endif %}
      {{ patient_form.last_name.label_tag }} {{ patient_form.last_name }}</li>
  <li id="li_patronymic">{% if patient_form.patronymic.errors %} {{ patient_form.patronymic.errors}} {% endif %}
      {{ patient_form.patronymic.label_tag }} {{ patient_form.patronymic }}</li>
  <li id="li_birthday">{% if patient_form.birthday.errors %} {{ patient_form.birthday.errors}} {% endif %}
      {{ patient_form.birthday.label_tag }} {{ patient_form.birthday }}</li>
  <li id="li_death">{% if patient_form.death.errors %} {{ patient_form.death.errors}} {% endif %}
      {{ patient_form.death.label_tag }} {{ patient_form.death }}</li>
  <li id="li_seria_policy">{% if patient_form.seria_policy.errors %} {{ patient_form.seria_policy.errors}} {% endif %}
      {{ patient_form.seria_policy.label_tag }} {{ patient_form.seria_policy }}</li>
  <li id="li_number_policy">{% if patient_form.number_policy.errors %} {{ patient_form.number_policy.errors}} {% endif %}
      {{ patient_form.number_policy.label_tag }} {{ patient_form.number_policy }}</li>
  <li id="li_code_insurance_company">{% if patient_form.code_insurance_company.errors %} {{ patient_form.code_insurance_company.errors}} {% endif %}
      {{ patient_form.code_insurance_company.label_tag }} {{ patient_form.code_insurance_company }}</li>
  <!-- Нужно сюда прикрепить КЛАДР -->
  <li id="li_registration">{% if patient_form.registration.errors %} {{ patient_form.registration.errors}} {% endif %}
      {{ patient_form.registration.label_tag }} {{ patient_form.registration }}</li>
  <li id="li_residence">{% if patient_form.residence.errors %} {{ patient_form.residence.errors}} {% endif %}
      {{ patient_form.residence.label_tag }} {{ patient_form.residence }}</li>
  <li id="li_allocate_lpu">{% if patient_form.allocate_lpu.errors %} {{ patient_form.allocate_lpu.errors}} {% endif %}
      {{ patient_form.allocate_lpu.label_tag }} {{ patient_form.allocate_lpu }}</li>
  <ul id="ul_diagnosis_formset">
    <li><b>Диагноз</b></li>
    {% for d_form in diagnosis_formset.forms %}
        <ul id="diagnosis_form_{{ forloop.counter0 }}" class="diagnosis_form">
          <li class="number_diagnosis">Диагноз #{{ forloop.counter }}</li>
          <li class="diagnosis_content">
            {{ d_form.code }} {{ d_form.name }}
            <span>
              {% if d_form.name.value %}
                {{ d_form.name.value }} {{ d_form.code.value }}
              {% else%}
              Нет
              {% endif %}
            </span>
            <input type="button" value="Изменить" />
          </li>
          {% if d_form.id.value %}
            <li>{{ d_form.DELETE.label_tag }} {{ d_form.DELETE }} {{d_form.id }}</li>
          {% else %}
            <li class="delete" id="li_diagnosis-{{ forloop.counter0 }}-delete"><a href='#'>Удалить</a></li>
          {% endif %}
        </ul>
    {% endfor %}
    <li><input type="button" value="Добавить" id="add"></li>
  </ul>
  <li id="li_comment">{% if patient_form.comment.errors %} {{ patient_form.comment.errors}} {% endif %}
      {{ patient_form.comment.label_tag }} {{ patient_form.comment }}</li>
  <li id="li_social_status">{% if patient_form.social_status.errors %} {{ patient_form.social_status.errors}} {% endif %}
      {{ patient_form.social_status.label_tag }} {{ patient_form.social_status }}</li>
  <li id="li_special_cure">{% if patient_form.special_cure.errors %} {{ patient_form.special_cure.errors}} {% endif %}
      {{ patient_form.special_cure.label_tag }} {{ patient_form.special_cure }}</li>
  <li id="li_type">{% if patient_form.type.errors %} {{ patient_form.type.errors}} {% endif %}
      {{ patient_form.type.label_tag }} {{ patient_form.type }}</li>
  <li id="li_gender">{% if patient_form.gender.errors %} {{ patient_form.gender.errors}} {% endif %}
      {{ patient_form.gender.label_tag }} {{ patient_form.gender }}</li>
  <li id="li_date_registration">{% if patient_form.date_registration.errors %} {{ patient_form.date_registration.errors}} {% endif %}
      {{ patient_form.date_registration.label_tag }} {{ patient_form.date_registration }}</li>
  {% for visit in visits_qs %}
    {% if visit.is_add %}
     Первичное посещение 
    {% endif %}
    {{ visit }}
  {% endfor %}
  {{ visit_form.as_ul }}
</ul>
<input type="submit", value="Отправить">
</form>
{% endblock %}
