{% extends "base.html" %}

{% block title %}режим просмотра пациентов{% endblock %}

{% block other_static %}
    {{ form.media }}
{% endblock %}

{% block search_patient %} class="active"{% endblock %}

{% block content %}
{% load widget_tweaks %}
 <form action="." id="search_form">
  <table style="background: #eee;">
   <tr>
    <td colspan="6">
     <!--label>ФИО</label><br /><input type="text" style="width: 520px;" /> <br /-->
     {{form.full_name.label_tag}} {% render_field form.full_name style="width: 520px" %}
    </td>
   </tr>
   <tr>
    <td colspan="2">
       <!--label>Дата рождения</label><br /><input type="text" style="width: 100px;" /> <a href="#">Сегодня</a> | &lowast; <br /-->
       {{form.birthday.label_tag}}{{form.birthday}}
    </td>
    <td colspan="2">
       <!--label>Дата смерти</label><br /><input type="text" style="width: 100px;" /> <a href="#">Сегодня</a> | &lowast; <br /-->
       {{form.death.label_tag}}{{form.death}}
    </td>
    <td colspan="2">
    <!--label>Диагноз по МКБ</label><br /><input type="text" style="width: 150px;"/> <br /-->
    {{form.diagnosis.label_tag}}{{form.diagnosis}}
    </td>
   </tr>
   <tr>
    <td colspan="2">
     <!--label>Место проживания</label><br /><select style="width: 160px;"><option>---</option><option>---</option></select><br /-->
     {{form.type_residence.label_tag}}{{form.type_residence}}
    </td>
    <td colspan="2">
     <!--label>Спец. лечение</label><br /><select style="width: 160px;"><option>---</option><option>---</option></select><br /-->
     {{form.special_cure.label_tag}}{{form.special_cure}}
    </td>
    <td colspan="2">
     <!--label>Социальный статус</label><br /><select style="width: 160px;"><option>---</option><option>---</option></select><br /-->
     {{form.social_status.label_tag}}{{form.social_status}}
    </td>
   </tr>
   <tr>
    <td colspan="6">
     <!--label>МО внесения в регистр</label><br /><select style="width: 100%;"><option>---</option><option>---</option></select><br /-->
     {{form.lpu_added.label_tag}}{{form.lpu_added}}
    </td>
   </tr>
   <tr>
    <td colspan="6" align="right">
     <input type="submit" value="Найти" />
    </td>
   </tr>
  </table>
 </form>

<h2>{{ header }}</h2>
<table class="list_patient">
    <tr>
        <th width="20%">ФИО</th>
        <th>Дата рождения</th>
        <th>Диагноз по МКБ</th>
        <th width="40%">ЛПУ прикрепления</th>
        <th>Пол</th>
    </tr>
    {% for patient in patients %}
    <tr>
        <td><a href="{% url 'patient_edit' patient.pk %}" target="_blank">{{ patient.all_full_names|linebreaksbr }}</a></td>
        <td><a href="{% url 'patient_edit' patient.pk %}" target="_blank">{{ patient.birthday|date }}</a></td>
        <td><a href="{% url 'patient_edit' patient.pk %}" target="_blank">{{ patient.diagnosis_text_code|linebreaksbr}}</a></td>
        <td><a href="{% url 'patient_edit' patient.pk %}" target="_blank">{{ patient.name_allocate_lpu|default:"&nbsp;" }}</a></td>
        <td><a href="{% url 'patient_edit' patient.pk %}" target="_blank">{{ patient.get_gender_display }}</a></td>
    </tr>
    {% endfor %}
</table>
<p>Количество пациентов: {{ count }}</p>
{% endblock %}
