{% extends "base.html" %}

{% block other_static %}
    {{ form.media }}
{% endblock %}

{% block search_patient %}Режим поиска пациентов{% endblock %}

{% block content %}
<form action=".">
<ul>
{{ form.as_ul }}
</ul>
<input type="submit" value="Найти">
</form>
<table class="list_patient">
    <tr>
        <th width="20%">ФИО</th>
        <th>Дата рождения</th>
        <th>Диагноз по МКБ</th>
        <th width="40%">ЛПУ прикрепления</th>
        <th>Пол</th>
    </tr>
    {% for patient in patients %}
    <tr>
        <td><a href="{% url 'patient_edit' patient.pk %}" target="_blank">{{ patient.all_full_names|linebreaksbr }}</a></td>
        <td><a href="{% url 'patient_edit' patient.pk %}" target="_blank">{{ patient.birthday|date }}</a></td>
        <td><a href="{% url 'patient_edit' patient.pk %}" target="_blank">{{ patient.diagnosis_text_code|linebreaksbr}}</a></td>
        <td><a href="{% url 'patient_edit' patient.pk %}" target="_blank">{{ patient.name_allocate_lpu|default:"&nbsp;" }}</a></td>
        <td><a href="{% url 'patient_edit' patient.pk %}" target="_blank">{{ patient.get_gender_display }}</a></td>
    </tr>
    {% endfor %}
</table>
<p>Количество пациентов: {{ count }}</p>
{% endblock %}
